.card-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 3%;
    row-gap: 25px;
    background-image: linear-gradient(to left,gold,purple);
    column-gap: 2%;
    width: 100%;
    height: 100%;
}

.read-more{
    cursor: pointer;
}

.add-cart-container{
    /* background-color: purple; */
    background-image: linear-gradient(to left,gold,purple);
    color: white;
    height: 100%;
    padding: 10%;
}

.additem-container{
    border-width: 5px ;
    border-style: solid;
    height: 30vh;
}


.Cart-header{
    background-image: linear-gradient(to left,gold,purple);
    border-bottom: 10px solid silver;
}
.add-page{
    background-image: linear-gradient(to left,gold,purple);
    height: 100%;
    color: white;
}

@media screen and (max-width: 480px) {
    .card-list{
        display: grid;
        grid-template-columns: auto ;
        padding: 3%;
        width: 100%;
        row-gap: 0.5%;
        column-gap: 2%;
    }
    .additem-container p{
        font-size: 60%;
        
    }
  }